<div class="container">
    <div class="jumbotron">
        <img class="acnlogo2" src="assets/images/acnlogo2.png" alt="" />
        <img class="acnlogo1" src="assets/images/acnlogo1.png" alt="" />
        <table>

            <tr>
                <td>
                    <div class="containers">
                        <p class="image">B</p>
                        <div class="overlay">
                            <div class="text">Billing</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="containers">
                        <p class="image">A</p>
                        <div class="overlay">
                            <div class="text">Automated</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="containers">
                        <p class="image">R</p>
                        <div class="overlay">
                            <div class="text">Requisition</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="containers">
                        <p class="image">S</p>
                        <div class="overlay">
                            <div class="text">System</div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>


</div>